<!DOCTYPE html>
<html>
<head>
    <title><%=locals.title%></title>
    <meta name="description" content="<%=locals.description%>">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap&subset=cyrillic" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
</head>
<body>
    <%- body %>
    <%- script %>
</body>
</html>