// Font
mainFont = 'PT Sans', sans-serif

// Size
mainFontColor = #101010
mainFontSize = 16px
mainFontWeight = 400
mainLineHeight = 1.4

desktopWidth = 1280px
smDesktopWidth = 980px
tableWidth = 768px
phoneWidth = 480px
smPhoneWidth = 320px

// Main color
font-color = #4D4D4D
light-green = #EBF8F1
light-pink = #F9F1F8
light-blue = #F2F5FA
light-purple = #F5F0FB
preloader-color = #1CC9B4
disabled-color = #E2DCEA
background-color = #F2F5FA
accent-color = #4A2B78